/* header */
.header-box {
  margin: 40px 90px 40px 90px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  padding: 5px 15px;
}

.header-box {
  a {
    color: $font-p;
  }
}

.reddot-logo {
  margin: -20px 20px;
}

.visa-logo {
  padding: 10px;
}

.navbar-right {
  margin-right: 10px;
}

.mobile-navbar-right {
  display: none;
}

.custom-navbar {
  .navbar-nav {
    > li {
      > a {
        &:hover, &:focus {
          background-color: transparent;
        }
      }
    }
  }
  .nav {
    li {
      a:hover {
        background: transparent;
        color: $font-red;
        text-decoration: underline;
      }
      &.active {
        > a {
          background: transparent;
          color: $font-red;
          text-decoration: underline;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 990px) {
  .header-box {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin: 20px 13px 13px 13px;
    padding: 0;
    .navbar-header {
      margin-bottom: -15px; 
    }
  }

  .mobile-nav {
     background-image: url(../images/menu.png); 
     background-repeat: no-repeat;
     float: left;
     margin-bottom: 0px;
     margin-left: 40px;
     opacity: .8;
  }

  .navbar-right {
    display: none;
  }

  .mobile-navbar-right {
    display: inline-flex;
    margin: 0 0 0 10%;
    padding: 0;
    width: 200px;
  }

  .reddot-logo {
    height: auto;
    margin: -33px 0;
    width: 80px;
  }

  .visa-logo {
    height: auto;
    width: 90px;
    img {
      padding: 0;
      margin-top: -30px;
    }
  }

  .navbar-collapse {
    &.in {
      overflow-y: visible;
    }

    ul {
      font-size: 1.6em;
      padding-top: 50px;
      padding-bottom: 20px;
      text-align: center;
      > li {
        display: inline;
      }
    }
  }
 } 

@media only screen and (min-device-width: 360px) and (max-device-width: 445px) {
  .mobile-navbar-right {
    margin-left: 25%;
  }
}

@media only screen and (min-device-width: 445px) and (max-device-width: 600px) {
  .mobile-navbar-right {
    margin: 0 0 0 37%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 720px) {
  .mobile-navbar-right {
    margin: 0 0 0 52%;
  }
}

@media only screen and (min-device-width: 720px) and (max-device-width: 768px) {
  .mobile-navbar-right {
    margin: 0 0 0 60%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 990px) {
  .header-box {
    width: 97%;
  }
  .mobile-navbar-right {
    display: none;
  }
  .navbar-right {
    display: block;
  }
  .reddot-logo {
    width: 88px;
    margin: -20px 20px;
  }
  .visa-logo {
    width: 110px;
    img {
      margin-top: 0;
    }
  }
  .navbar-collapse {
    &.in {
      overflow-y: visible;
    }

    ul {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}

@media only screen and (min-device-width: 990px) and (max-device-width: 1280px) {
  .header-box {
    margin: 20px auto;
    padding: 0;
    width: 80%;
  }
}